@charset "UTF-8";
/* CSS Document */

	.tablename {
		font-size:20px;
		font-weight:bold;
	}
	
	.databasetable {
		border-collapse:collapse;
	}
	
	.databasetable table, th, td{
		border-collapse:collapse;
		border:1px solid green;
		padding:0px;
	}
	
	.databasetable th {
		font-size:17px;
		background-color:green;
		color:white;
		padding:0px 5px 0px 5px;
	}
	
	.databasetableid {
		font-size:15px;
		background-color:#00A42F;
		color:white;
		text-align:center;
	}
	
	.databasecell {
		overflow:hidden;
		height:23px;
	}
	
	.databasecell input {
		border:none;
		width:100%;
	}